# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.manifest
*.spec

# === Virtual environments ===
venv/
env/
../../../PycharmProjects/AnovaPharmTelegramBot/.venv/
.env/
ENV/
Pipfile.lock

# === IDEs and editors ===
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# === Logs and debug ===
*.log
*.out
*.err
logs/
log/
bot.log

# === Cache and temporary files ===
*.tmp
*.temp
*.bak
*.swp
.DS_Store
Thumbs.db
.cache/
__pycache__/
testcommands.py

# === Databases ===
*.db
*.sqlite3
db/models/*.db
database/*.sqlite3

# === Env files (tokens, secrets, configs) ===
.env
*.env
settings.json
token.txt
utils/config/*.py

# === Build and dist ===
build/
dist/
*.egg-info/
*.whl

# === PyInstaller ===
*.manifest
*.spec

# === Jupyter / IPython ===
.ipynb_checkpoints/

# === System files ===
*.bak
*.old
*.orig
*.swp
*~

# === Temporary project files ===
tmp/
temp/
__temp__/
/main/utils/config
